*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  line-height: 1.5;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  background-color: #0b121e;
  color: #d9e2e6;
}
.container-wrapper {
  display: grid;
  grid-template-columns: 80px 2fr 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main";
  gap: 20px;
  padding: 20px;
  background-color: #0b121e;
}
.main-content {
  display: grid;
  grid-area: main;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "overview week"
    "today    week"
    "details  week";
  gap: 30px;
}
.sidebar,
.today-forecast,
.conditions,
.week-forecast {
  background-color: #202b3b;
  border-radius: 20px;
  padding: 20px;
}
.today-forecast {
  grid-area: today;
}
.conditions {
  grid-area: details;
}
.week-forecast {
  grid-area: week;
}

.sidebar {
  grid-area: sidebar;
  background-color: #202b3b;
  border-radius: 20px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 30px 0;
  width: 80px;
}
.sidebar img.icon {
  width: 26px;
  height: 26px;
  opacity: 0.4;
  transition: all 0.3s ease;
}
.sidebar-menu,
.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #9399a2;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item.active img.icon,
.menu-item:hover img.icon {
  opacity: 1;
  filter: brightness(0) invert(1) drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}
.logo-icon {
  width: 35px;
  height: 35px;
  margin-bottom: 20px;
}
.menu-item.active {
  color: #ffffff;
}
.menu-item:hover {
  transform: scale(1.04);
}
.menu-item:active {
  transform: scale(0.9);
}
.menu-item .icon {
  font-size: 20px;
}
.menu-item .label {
  font-size: 15px;
  font-weight: 600;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
}
#search {
  background: #202b3b;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 1rem;
}

.overview {
  grid-area: overview;
  padding-right: 40px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  min-height: 250px;
}
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.city-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.weather-info h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
}
.weather-info .rain-chance {
  color: #9399a2;
  font-size: 1rem;
}
.weather-info .degree {
  font-size: 4.5rem;
  font-weight: 800;
  margin-top: 0;
}
.main-weather-img {
  width: 250px;
  max-width: 250px;
  justify-self: center;
  filter: invert(62%) sepia(72%) saturate(3075%) hue-rotate(33deg)
    brightness(130%) contrast(113%);
  flex-shrink: 0;
}
